<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ebikeStory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>322AD0991E6309E100959BE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>322AD0AD1E6309E200959BE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>322AD0B81E6309E200959BE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
